<!--
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastro de Matrículas</title>
</head>
<body>
<h1>Cadastro de Matrículas</h1>
<form method="post" th:action="@{/matricula}">
    Nome: <input type="text" th:field="${name}"/><br/>
    Endereço: <input type="text" th:field="${address}"/><br/>
    Telefone: <input type="text" th:field="${phone}"/><br/>
    Data de Nascimento: <input type="text" th:field="${birth}"/><br/>
    E-mail: <input type="text" th:field="${email}"/><br/>
    Inscrição: <input type="text" th:field="${subscription}"/><br/>
    <button type="submit">Salvar</button>
</form>
</body>
</html>
-->
